footer {
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  @include fontSize(16);
  line-height: 2.4rem;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      border: 1px dotted red;
    }
  }
}

.attributionContainer {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  @include centerFlex();
  background-color: rgba(0, 0, 0, 0.6);
}

.attributionClose {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 5%;
  left: 90%;

  i {
    @include fontSize(30);
    color: #fff;
    cursor: pointer;
  }

  @include phone {
    left: 85%;
  }
}

.attribution {
  padding: 5rem;
  background: #fff;
  border: 1px solid #fff;
  border-radius: $radius;
  max-width: 1100px;
  opacity: 1;
  text-align: center;

  ul li {
    display: inline-block;
    margin: 0.4rem 0.8rem;

    a {
      @include fontSize(25);
      color: $accent;
      text-shadow: 1px 1px 2px $accent-secondary;
    }
  }

  p {
    line-height: 2.2rem;

    a {
      font-weight: bold;
    }
  }

  .attributionCreatedBy {
    border-top: 1px solid black;
    margin: 10px 0;
  }

  @include phone {
    padding: 1rem;
  }
}

.showAttribution {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
