body {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.flexContainer {
  display: flex;
}

.flexAuto {
  flex: 1 1 auto;
}

.col50 {
  flex: 0 1 50%;
  max-width: calc(50% - 40px);
  margin: 0 20px;
}
