body {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.flexContainer {
  display: flex;
}

.flexAuto {
  flex: 1 1 auto;
}

.col40 {
  flex: 0 0 40%;
  max-width: 40%;

  @include tablet-landscape {
    text-align: left;
  }

  @include tablet-landscape-sm {
    flex-basis: 100%;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.col50 {
  flex: 0 1 50%;
  max-width: calc(50% - 40px);
  margin: 20px;

  @include phone {
    margin: 0;
  }
}
