.mainPage {
  height: 100vh;
  @include centerFlex();

  @include tablet-landscape {
    height: auto;
  }
}

.mainPageContainer {
  width: 90%;
  max-width: 1100px;
  background-color: $light;
  border-radius: 10px;
  padding: 60px 40px;

  .header {
    margin-bottom: 60px;

    h2 {
      @include fontSize(30);
    }

    i.fas {
      color: $accent-secondary;
    }

    @include tablet-landscape {
      margin-bottom: 30px;
    }

    @include tablet-portrait {
      width: 100%;
    }
  }

  .flexContainer {
    flex-wrap: wrap;

    .col40 {
      display: flex;
      align-items: center;
    }

    .mainPageNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1 1 auto;

      @include tablet-landscape-sm {
        justify-content: center;
      }
    }
  }

  @include phone {
    padding: 60px 30px;
    width: 85%;
  }

  @include phone-xxs {
    padding: 30px 15px;
    width: 90%;
  }
}

.mainContainer {
  flex-wrap: wrap;

  h2 {
    @include fontSize(40);
    margin-bottom: 30px;

    @include phone {
      @include fontSize(30);
      margin: 30px 0;
    }
  }

  @include tablet-landscape {
    width: 70%;
  }

  @include tablet-landscape {
    &.flexContainer {
      flex-direction: column;
      width: 100%;
    }
  }

  @include tablet-landscape {
    .col50 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.imageHolder {
  display: flex;
  justify-content: center;
  border: 1px solid $accent-secondary;
  border-radius: $radius;
  opacity: 1;
  overflow: hidden;
}

.imageHolder img {
  display: block;
  object-fit: cover;
}

.mainCountryInfo {
  &.flexContainer {
    flex-wrap: wrap;
    margin: 0 -20px;

    .col50 {
      border: 1px solid $accent-secondary;
      border-radius: $radius;

      @include phone {
        max-width: calc(50% - 20px);
        margin: 20px 10px;
        height: 70px;
      }
    }

    @include phone {
      margin: 0 -10px;
    }
  }
}

.mainCountryInfo {
  &.flexContainer {
    flex-wrap: wrap;
    margin: 0 -20px;

    .col50 {
      @include centerFlex();
      border: 3px double $accent-secondary;
      border-radius: $radius;
      height: 80px;

      @include tablet-landscape {
        flex-basis: 50%;
        max-width: calc(50% - 40px);
      }

      @include phone {
        max-width: calc(50% - 20px);
      }
    }

    @include phone {
      margin: -10px;
    }
  }

  .countryInfo {
    position: relative;

    p {
      position: absolute;
      top: -25px;
      left: 10px;
      margin-bottom: 10px;
    }

    span {
      @include fontSize(18);
      text-transform: uppercase;
      font-weight: bold;

      @include tablet-portrait-sm {
        @include fontSize(16);
      }

      @include phone {
        @include fontSize(13);
      }
    }
  }
}

.mainWeather {
  display: flex;
  align-items: center;
  position: relative;
  border: 3px double $accent-secondary;
  margin-top: 20px;
  border-radius: 5px;
  height: 60px;

  .weather,
  .temp {
    display: inline-block;
    margin-left: 30px;
  }

  .temp {
    color: $yellow;
    @include fontSize(16);
    font-weight: 900;
  }

  i.fa-cloud-sun {
    position: absolute;
    top: 50%;
    right: 30px;
    opacity: 0.6;
    transform: translateY(-50%);
    @include fontSize(25);
  }

  @include tablet-portrait-sm {
    margin: 20px 0;
    padding: 15px;

    .weather,
    .temp {
      margin: 0;
    }

    .temp {
      margin-left: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -12px;
      right: 20px;
      width: 70px;
      height: 20px;
      background-color: $light;
    }

    i.fa-cloud-sun {
      top: -20px;
      right: 35px;
      opacity: 0.6;
      transform: unset;
      z-index: 1;
    }
  }
}

@include tablet-portrait-sm {
  .main {
    border-top: 1px solid $accent-secondary;
  }
}
