.mainPage {
  height: 100vh;
  @include centerFlex();
}

.mainPageContainer {
  width: 90%;
  max-width: 1100px;
  background-color: $light;
  border-radius: 10px;
  padding: 60px 40px;

  .header {
    margin-bottom: 60px;

    h2 {
      @include fontSize(25);
    }

    i.fas {
      color: $accent-secondary;
    }
  }

  .flexContainer {
    flex-wrap: wrap;

    .col40 {
      flex: 0 0 40%;
      max-width: 40%;
    }

    .mainPageNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1 1 auto;
    }
  }
}

.mainContainer {
  flex-wrap: wrap;

  h2 {
    @include fontSize(40);
    margin-bottom: 30px;
  }

  .col50 {
    flex: 0 1 50%;
    max-width: calc(50% - 40px);
    margin: 0 20px;
  }
}

.imageHolder {
  display: flex;
  justify-content: center;
  border: 1px solid $accent-secondary;
  border-radius: $radius;
  opacity: 1;
}

.imageHolder img {
  display: block;
  object-fit: cover;
}

.mainCountryInfo {
  &.flexContainer {
    flex-wrap: wrap;
    margin: 0 -20px;

    .col50 {
      border: 1px solid $accent-secondary;
      border-radius: $radius;
      padding: 20px;
    }
  }
}

.mainCountryInfo {
  &.flexContainer {
    flex-wrap: wrap;
    margin: 0 -20px;

    .col50 {
      @include centerFlex();
      flex: 0 1 50%;
      max-width: calc(50% - 40px);
      margin: 20px;
      border: 3px double $accent-secondary;
      border-radius: $radius;
      height: 80px;
    }
  }

  .countryInfo p {
    margin-bottom: 10px;
  }

  .countryInfo {
    position: relative;

    p {
      position: absolute;
      top: -25px;
      left: 10px;
    }

    span {
      @include fontSize(18);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.mainWeather {
  display: flex;
  align-items: center;
  position: relative;
  border: 3px double $accent-secondary;
  margin-top: 20px;
  border-radius: 5px;
  height: 60px;

  .weather,
  .temp {
    display: inline-block;
    margin-left: 30px;
  }

  .temp {
    color: $yellow;
    @include fontSize(16);
    font-weight: 900;
  }

  i.fa-cloud-sun {
    position: absolute;
    top: 50%;
    right: 30px;
    opacity: 0.6;
    transform: translateY(-50%);
    @include fontSize(25);
  }
}
