// Below laptop
@media (max-width: 868px) {
    .header .flexContainer,
    .mainPageContainer .flexContainer .mainPageNav {
        justify-content: center;
        margin-top: 20px;
    }

    .header h2 {
        text-align: center;
    }

    .mainPage {
        height: auto;
    }

    .mainContainer {
        flex-direction: column-reverse;
    }

    .mainContainer .col50 {
        max-width: 100%;
    }

    .mainContainer .imageHolder {
        margin: 0 20px 40px;
    }

    footer {
        position: static;
        margin-top: 20px;
    }
}

@media (max-width: 800px) {

    .attributionClose {
        left: 85%;
    }
}

@media (max-width: 550px) {
    .mainPageContainer {
        padding: 0 0 20px 0;
        width: 100%;
    }

}