.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-image: url("../assets/modal-bg1.png");
  background-color: $primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 500px;

  h1 {
    @include fontSize(50);
    line-height: 5.2rem;
    color: $dark;

    i {
      color: $accent-secondary;
    }

    @include phone {
      @include fontSize(35);
    }
  }

  p {
    line-height: 3rem;
    margin: 3rem 0;

    .logo {
      font-weight: bold;
    }
  }
}
