.mainPageNav {
  form {
    display: flex;

    @include tablet-portrait-sm {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  .btn,
  select {
    margin: 0 10px;
  }

  select {
    appearance: none;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    border: 3px double $primary;
    background-repeat: no-repeat;
    background-position: 90% center;
    text-transform: uppercase;
    padding: 10px 25px;
    width: 70%;
    border-radius: $radius;
    color: $accent;
    @include fontSize(16);
    letter-spacing: 1px;

    @include tablet-portrait-sm {
      margin: 20px;
      padding: 20px 25px;
    }

    @include phone {
      width: 100%;
      margin: 0 0 20px;
    }
  }
}
