html {
  font-size: 62.5%;
}

body {
  @include fontSize(14);
  background-image: url("../assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $secondary;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: $accent;
  line-height: 1.2;
}
