html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mixins */
/* Responsive web design breakpoints*/
body {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexAuto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.col40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

@media only screen and (max-width: 1150px) {
  .col40 {
    text-align: left;
  }
}

@media only screen and (max-width: 1115px) {
  .col40 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.col50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: calc(50% - 40px);
  margin: 20px;
}

@media only screen and (max-width: 500px) {
  .col50 {
    margin: 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.4rem;
  background-image: url("../assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fadeba;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: #525252;
  line-height: 1.2;
}

@media only screen and (max-width: 1150px) {
  body {
    padding: 100px 0;
  }
}

.btn {
  font-family: "Rubik", sans-serif;
  position: relative;
  overflow: hidden;
  background: #95c8d8;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 150px;
  border: none;
  line-height: 1.3;
  padding: 1.3rem 2rem;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #525252;
  font-size: 1.6rem;
  z-index: 1;
  font-weight: 600;
}

.btn::after {
  content: "";
  position: absolute;
  background: #fadeba;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: -1;
}

.btn:hover::after, .btn:focus::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.mainPageNav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 660px) {
  .mainPageNav form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainPageNav .btn,
.mainPageNav select {
  margin: 0 10px;
}

.mainPageNav select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  border: 3px double #f6c346;
  background-repeat: no-repeat;
  background-position: 90% center;
  text-transform: uppercase;
  padding: 10px 25px;
  width: 70%;
  border-radius: 5px;
  color: #525252;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 660px) {
  .mainPageNav select {
    margin: 20px;
    padding: 20px 25px;
  }
}

@media only screen and (max-width: 500px) {
  .mainPageNav select {
    width: 100%;
    margin: 0 0 20px;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-image: url("../assets/modal-bg1.png");
  background-color: #f6c346;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.modalBox h1 {
  font-size: 5rem;
  line-height: 5.2rem;
  color: #000000;
}

.modalBox h1 i {
  color: #95c8d8;
}

@media only screen and (max-width: 500px) {
  .modalBox h1 {
    font-size: 3.5rem;
  }
}

.modalBox p {
  line-height: 3rem;
  margin: 3rem 0;
}

.modalBox p .logo {
  font-weight: bold;
}

.mainPage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1150px) {
  .mainPage {
    height: auto;
  }
}

.mainPageContainer {
  width: 90%;
  max-width: 1100px;
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 40px;
}

.mainPageContainer .header {
  margin-bottom: 60px;
}

.mainPageContainer .header h2 {
  font-size: 3rem;
}

.mainPageContainer .header i.fas {
  color: #95c8d8;
}

@media only screen and (max-width: 1150px) {
  .mainPageContainer .header {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 840px) {
  .mainPageContainer .header {
    width: 100%;
  }
}

.mainPageContainer .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainPageContainer .flexContainer .col40 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPageContainer .flexContainer .mainPageNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media only screen and (max-width: 1115px) {
  .mainPageContainer .flexContainer .mainPageNav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .mainPageContainer {
    padding: 60px 30px;
    width: 85%;
  }
}

@media only screen and (max-width: 340px) {
  .mainPageContainer {
    padding: 30px 15px;
    width: 90%;
  }
}

.mainContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainContainer h2 {
  font-size: 4rem;
  margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .mainContainer h2 {
    font-size: 3rem;
    margin: 30px 0;
  }
}

@media only screen and (max-width: 1150px) {
  .mainContainer {
    width: 70%;
  }
}

@media only screen and (max-width: 1150px) {
  .mainContainer.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  .mainContainer .col50 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.col50.imageHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #95c8d8;
  border-radius: 5px;
  opacity: 1;
  overflow: hidden;
}

.imageHolder img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

.mainCountryInfo.flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.mainCountryInfo.flexContainer .col50 {
  border: 1px solid #95c8d8;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .mainCountryInfo.flexContainer .col50 {
    max-width: calc(50% - 20px);
    margin: 20px 10px;
    height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  .mainCountryInfo.flexContainer {
    margin: 0 -10px;
  }
}

.mainCountryInfo.flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.mainCountryInfo.flexContainer .col50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px double #95c8d8;
  border-radius: 5px;
  height: 80px;
}

@media only screen and (max-width: 1150px) {
  .mainCountryInfo.flexContainer .col50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: calc(50% - 40px);
  }
}

@media only screen and (max-width: 500px) {
  .mainCountryInfo.flexContainer .col50 {
    max-width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 500px) {
  .mainCountryInfo.flexContainer {
    margin: -10px;
  }
}

.mainCountryInfo .countryInfo {
  position: relative;
}

.mainCountryInfo .countryInfo p {
  position: absolute;
  top: -25px;
  left: 10px;
  margin-bottom: 10px;
}

.mainCountryInfo .countryInfo span {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 660px) {
  .mainCountryInfo .countryInfo span {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .mainCountryInfo .countryInfo span {
    font-size: 1.3rem;
  }
}

.mainWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 3px double #95c8d8;
  margin-top: 20px;
  border-radius: 5px;
  height: 60px;
}

.mainWeather .weather,
.mainWeather .temp {
  display: inline-block;
  margin-left: 30px;
}

.mainWeather .temp {
  color: #f2a83c;
  font-size: 1.6rem;
  font-weight: 900;
}

.mainWeather i.fa-cloud-sun {
  position: absolute;
  top: 50%;
  right: 30px;
  opacity: 0.6;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.5rem;
}

@media only screen and (max-width: 660px) {
  .mainWeather {
    margin: 20px 0;
    padding: 15px;
  }
  .mainWeather .weather,
  .mainWeather .temp {
    margin: 0;
  }
  .mainWeather .temp {
    margin-left: 10px;
  }
  .mainWeather::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 20px;
    width: 70px;
    height: 20px;
    background-color: #fff;
  }
  .mainWeather i.fa-cloud-sun {
    top: -20px;
    right: 35px;
    opacity: 0.6;
    -webkit-transform: unset;
            transform: unset;
    z-index: 1;
  }
}

@media only screen and (max-width: 660px) {
  .main {
    border-top: 1px solid #95c8d8;
  }
}

footer {
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

footer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer button:focus {
  border: 1px dotted red;
}

.attributionContainer {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.attributionClose {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 5%;
  left: 90%;
}

.attributionClose i {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.attribution {
  padding: 5rem;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 1100px;
  opacity: 1;
  text-align: center;
}

.attribution ul li {
  display: inline-block;
  margin: 0.4rem 0.8rem;
}

.attribution ul li a {
  font-size: 2.5rem;
  color: #525252;
  text-shadow: 1px 1px 2px #95c8d8;
}

.attribution p {
  line-height: 2.2rem;
}

.attribution p a {
  font-weight: bold;
}

.attribution .attributionCreatedBy {
  border-top: 1px solid black;
  margin: 10px 0;
}

.showAttribution {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
